<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.sezon.sezon"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MangJekApplication"
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".home.Mart_Detail"></activity>
        <activity android:name=".signUp.OTPActivity" />
        <activity android:name=".intro.Introactivity" /> <!-- tools:ignore="GoogleAppIndexingWarning" -->
        <activity
            android:name=".splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signIn.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signUp.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mRideCar.RideCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mRideCar.WaitingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mMart.MartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mMart.LocationPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mMart.MartWaitingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mSend.SendWaitingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mBox.BoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mBox.BoxOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mBox.BoxDetailOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mBox.MboxWaiting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mBox.PickLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mService.mServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".mService.mServiceBook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mService.mServiceWaiting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mService.mServiceProgress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mMassage.MassageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mMassage.LocationPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mMassage.WaitingMassageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.submenu.history.details.MSendDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.submenu.history.details.MMartDetailActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.MangJekMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <service android:name="io.sezon.sezon.service.MangJekInstanceIdService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service android:name=".mMassage.service.SendRequestMassageService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".mRideCar.InProgressActivity"
            android:label="@string/title_activity_in_progress"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mRideCar.RateDriverActivity"
            android:label="@string/title_activity_rate_driver"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.submenu.help.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.ChatActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.submenu.setting.UpdateProfileActivity"
            android:label="@string/title_activity_update_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.submenu.setting.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.submenu.setting.TermOfServiceActivity"
            android:label="@string/title_activity_term_of_service"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.submenu.setting.PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.submenu.setting.FAQActivity"
            android:label="@string/title_activity_faq"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.submenu.TopUpActivity"
            android:label="@string/title_activity_top_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.submenu.history.HistoryDetailActivity"
            android:label="@string/title_activity_history_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mSend.SendActivity"
            android:label="@string/title_activity_send"
            android:parentActivityName=".home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.sezon.sezon.home.MainActivity" />
        </activity>
        <activity
            android:name=".barcode.ScanActivity"
            android:label="@string/title_activity_top_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mSend.AddDetailSendActivity"
            android:label="@string/title_activity_add_detail_send"
            android:parentActivityName=".mSend.SendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mMassage.InProgressFinishedMassageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home.submenu.history.details.MFoodDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.submenu.history.details.MElectronicDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.submenu.history.details.MLaundryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.submenu.history.details.MFoodDetailStrukActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mFood.FoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mFood.NearmeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mFood.FoodMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mFood.MakananActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mFood.BookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mFood.SearchRestoranActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mFood.KategoriSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mFood.LocationPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mFood.FoodWaitingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mLaundry.LaundryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mLaundry.BookingLaundryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mLaundry.LaundryMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mLaundry.LaundryWaitingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mLaundry.LocationPickerLaundryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mLaundry.NearmeLaundryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mLaundry.SearchLaundryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".barcode.TicketResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AppBarOverlay" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="io.sezon.sezon.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>